#heatmapWrapper {
    width: 100%;
    overflow-x: auto;
}

#customScales {
    padding-left: 22px;
}

.sd-tooltip-help {
    vertical-align: text-bottom;
}

.form-input--error {
    border: 1px solid #ff0000;
}
.form-input--error:focus {
    border: 1px solid #ff0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(255 0 0 / 0.6);
}